* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.header {
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.adder {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: rgb(89, 88, 88);
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    width: 150px;
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: #ff6250;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(No.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(Yes.png);
}